%ul.app-checklist.list-unstyled
  %li
    - if current_user.confirmed?
      = fa_icon 'check'
    - else
      = fa_icon 'times'
    Confirmed Email
  %li.verification
    - if current_user.verified?
      = fa_icon 'check'
    - else
      = fa_icon 'times'
    Verified
  %li
    - if current_user.score > 75
      = fa_icon 'check'
    - else
      = fa_icon 'times'
    Questionnaire
