.form-group
  = f.label :street1, 'Street', class: 'control-label'
  = f.text_field :street1, class: 'form-control'

.form-group
  = f.label :street2, 'Street continued', class: 'control-label'
  = f.text_field :street2, class: 'form-control'

.form-group
  = f.label :city, class: 'control-label'
  = f.text_field :city, class: 'form-control'

.form-group
  = f.label :state, class: 'control-label'
  = f.text_field :state, class: 'form-control'

.form-group
  = f.label :postal_code, 'ZIP', class: 'control-label'
  = f.text_field :postal_code, class: 'form-control'

.form-group
  = f.label :country_code, 'Country', class: 'control-label'
  = f.text_field :country_code, readonly: true,
    value: 'US', class: 'form-control'

