.container
  .row
    .col-md-3
      %h2
        Your Checklist

      = render('shared/checklist')

    .col-md-9
      %h2 Update your address

      = form_for @address, html: { class: 'verification'} do |f|
        = render 'shared/error_messages', object: @address

        = render 'address_fields', f: f

        = f.button "Verify my identity", class: 'btn btn-primary',
          data: {disable_with: "#{fa_icon('spinner spin')} Verifying"}
